<div class="content">
  <div class="sliders">
    <h2 class="timeLabel">{{selectedTime}}</h2>
    <div class="slidersContainer">
      <input #minuteSlider type="range" min="0" max="59" value="55" class="slider" id="minuteSlider" (input)='onSliderChange()' (mouseup)='onSliderChangeEnd()'>
      <input #hoursSlider type="range" min="0" max="23" value="13" class="slider" id="hourSlider" (input)='onSliderChange()' (mouseup)='onSliderChangeEnd()'>
      <input #calendar id="datepicker" type="text" placeholder="Select Date..">
    </div>
    <div class="buttonContainer">
      <input id="timelapseButton" type="button" (click)='timelapseButtonPressed()' value="Timelapse" />
    </div>
  </div>

  <barn-selector (barnSelectedEventEmitter)='onBarnSelection($event)'></barn-selector>
</div>
