<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">O.B.O.R.A.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li ngbDropdown class="nav-item active">
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Select view...</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a ngbDropdownItem class="nav-link" routerLink="selected-cow-chart">Selected cow mode</a>
          <a ngbDropdownItem class="nav-link" routerLink="stricted-area-chart/firstAlgorithm">First algorithm view</a>
          <a ngbDropdownItem class="nav-link" routerLink="stricted-area-chart/thirdAlgorithm">Third algorithm view</a>
          <a ngbDropdownItem class="nav-link" routerLink="workpoints-area">Cowshed workpoints view</a>
        </div>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
